*~
O.*
*.swp
*.swo
*.un*
*_BAK.adl
bin/
db/
dbd/
html/
include/
lib/
templates/
cdCommands
envPaths
dllPath.bat


O.*
config_site_local.py
Makefile.dependency
configure/SUPPORT.linux-x86_64
configure/EPICS_BASE.linux-x86_64
configure/CONFIG_SITE.local
*/configure/CONFIG_SITE.linux-x86_64.Common
*/configure/RELEASE.linux-x86_64.Common
configure/SUPPORT.linux-x86_64
